// Colors
$white: #FFFFFF;
$black: #000000;
$blue: #4D89DC;
$lightGrey: #F7F7F7;
$accentGrey: #D3D3D3;
$darkGrey: #8E8E8E;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i');
  
* {
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  color: $darkGrey;
  font-size: 16px;
  &:focus {
    outline: 0;
  }
}

html {
  padding: 0;
  margin: 0;
  width: 460px;
  background-color: $lightGrey;
}

body {
  padding: 0;
  margin: 0;
}

h2{
  margin: 0;
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 18px;
}

/** HEADER **/

.header{
  display: flex;
  align-items: center;
  background-color: $white;
  border-bottom: 1px solid $accentGrey;
  padding: 16px;
  padding-left: 24px;
  padding-right: 24px;

  h1, span{
    font-weight: 500;
    font-size: 24px;
    margin: 0;
    margin-bottom: 6px;
  }
  h2{
    font-size: 14px;
    font-weight: 300;
    margin: 0;
  }
}

.header__logo{
  height: 48px;
}

.header__vertical{
  margin-left: 16px;
}

/** FORM **/

.userPreferences{
  display: flex;
  flex-direction: column;

  padding: 16px;
  padding-right: 24px;
  padding-left: 24px;
}

.userPreferences__horizontal{
  display: flex;
  margin-bottom: 6px;
}

.userPreferences__range{
  flex: 1;
  &:first-child{
    margin-right: 24px;
  }
}

input, select{
  text-align: center;
  margin-bottom: 12px;
}

input[type=text]{
  padding: 8px;
  -webkit-appearance: none; 
  -moz-appearance: none; 
  border: 1px solid $accentGrey;
  border-radius: 4px;
}

input[type=range] {
  -webkit-appearance: none; 
  width: 100%; 
  background: transparent; 
}

input[type=range]:focus {
  outline: none; 
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  background: transparent; 
  border-color: transparent;
  color: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  border-radius: 12px;
  background: $blue;
  margin-top: -3px;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  background: $accentGrey;
  border-radius: 4px;
  height: 3px
}

input[type=range]::-webkit-slider-thumb::before {
  position: absolute;
  content: '';
  height: 10px;
  width: 500px;
  left: -502px;
  top: 8px;
  background: #777;
}

select{
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: $white;
  padding: 8px;
  border: 1px solid $accentGrey;
  text-align-last: center;
}

.rangeLabel, .rangeLabel span{
  display: flex;
  width: 100%;
  margin-bottom: 6px;
  .small{
    font-size: 13px;
  }
  
  .bold{
    font-weight: 500;
    margin-left: auto;
  }
}

.button--filled {
  margin-top: 12px;
  text-align: center;
  font-size: 14px;
  border: none;
  background-color: $blue;
  color: $white;
  padding: 10px;
  border-radius: 4px;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 0px 3px 6px transparentize($black, 0.85);
  &:hover{
    background-color: darken($blue, 5%);
  }
}


/** UTILITIES **/
::placeholder {
  color: $darkGrey;
}