// Utilities
@import './styles/utilities/colors';
@import './styles/utilities/buttons';
@import './styles/utilities/inputs';

// Modules
@import './styles/modules/header';
@import './styles/modules/footer';
@import './styles/modules/settings-form';

// Fonts
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500');

// Global styling
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: 'Rubik', sans-serif;
  color: $darkGrey;
  font-size: 16px;

  &:focus {
    outline: 0;
  }
}

html {
  width: 450px;
  background-color: $lightGrey;
}

// App styling
.app {
  display: grid;
  grid-template-columns: 100%;
}