@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-family: ui-sans-serif, system-ui, sans-serif;
}

/* Reset all host styles for the content script, and to the popup so it matches */
:host,
#root {
  all: unset;
}

::selection {
  background: #0d6efd;
  color: #fff;
}
