@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

/* Reset all host styles for the content script */
:host {
  all: unset;

  font-family: system-ui, sans-serif;
}
